/* --- File: styles/globals.css --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply base styles */
@layer base {
  body {
    /* Use standard Tailwind classes */
    @apply bg-white text-gray-900 font-sans antialiased;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Apply heading font */
  h1, h2, h3, h4, h5, h6 {
    @apply font-slab font-bold;
  }

  html {
      scroll-behavior: smooth;
  }
}

